/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: rgba(70, 145, 101, 1);
}

/* Container size */
.container {
    width: 100%;
    max-width: 1360px;
    margin: 0 auto;
}

/* Button styles */
.btn {
    background-color: var(--primary-color);
    color: #fff;
    font-weight: 600;
    padding: 12.5px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Navbar container styles */
.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}

.nav-links  {
    display: flex;
    align-items: center;
    gap: 32px;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
}