/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: rgba(70, 145, 101, 1);
    --dark-1: rgba(0, 25, 49, 1);
    --dark-2: rgba(98, 115, 130, 1);
}

/* Font inter */
.font-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}


/* Container size */
.container {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
}

/* Button styles */
.btn {
    background-color: var(--primary-color);
    color: #fff;
    font-weight: 600;
    padding: 12.5px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Navbar container styles */
.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 32px;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
}

/* Banner/Hero section styles */
.banner-section {
    background-image: url("../assets/hero-bg.png");
    background-size: cover;
    background-position: center;
}

.banner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 115.5px 0 179.5px;
    /* gap: 24px; */
}

.early-access {
    /* max-width: 229px; */
    background-color: #fff;
    padding: 9.5px 12px;
    border-radius: 1000px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin: auto;

}

.banner-content h1 {
    margin: 16px 0;
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 84px;
}

.banner-content-heading {
    color: #fff;
}

.banner-content-heading2 {
    color: var(--primary-color);
}

.banner-content p {
    font-size: 1.12rem;
    line-height: 24px;
    color: #fff;
    margin-bottom: 32px;
}

.fa-arrow-right {
    margin-left: 10px;
}

.fa-play {
    margin-right: 10px;
}

.btn-secondary1 {
    padding: 16.5px 16px;
}

.btn-secondary2 {
    padding: 15px 16px;
    background-color: transparent;
    border: 2px solid #fff;
    margin-left: 16px;
}
